@model EiAtende.PortalTipoChamados

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Tipo do Chamado</h2>

<h3>Você tem Certeza que deseja Deletar este Item ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortalEmpresa.EmpRazao)
        </dd>

        <dt>
            Tipo do Chamado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoChamadoNome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
